<div class = 'row'>
  <div class='col-md-8 col-md-offset-2'>
    <h1>Contacts</h1>

    <table class="table table-borderd">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
      </thead>
      <tbody>
      {{#each model as |contact|}}
      {{!-- <br>{{#link-to '' contact.id}}{{contact.name}}{{/linkto}} --}}
        <tr>
          <td>{{contact.firstName}}</td>
          <td>{{contact.lastName}}</td>
          <td>{{contact.email}}</td>
          <td><button class="btn btn-warning" {{action 'edit' contact}}>Edit</button></td>
          <td><button class="btn btn-danger" {{action 'delete' contact}}>Delete</button></td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    <br><br>

    {{outlet}}
  </div>
</div>
